html, body {
    overflow: hidden;   /* no scrollbars */
    height: 50%;       /* make sure body fits viewport */
}
body{
    font-family: 'Pacifico', cursive;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: lightpink;
    padding: 10px 0;
}

.board{
    border: 2px solid black;
    border-radius: 10px;
    border: 2px solid wheat;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: thistle;
    width: 100%;
    padding: 5px;
}

input{
    width: 90%;
}

#display {
  width: 90%;
  height: 35px;
  font-size: 14px;
  text-align: right;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid rgb(32, 7, 92);
  background-color: white;
  color: rgb(120, 73, 194);
  font-family: 'Pacifico', cursive;

}



.operation, .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.operation {
    margin-bottom: 20px;
}
button {
    font-family: 'Pacifico', cursive;
    background-color: rosybrown;
    border: none;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    color:rgb(32, 7, 92);
    width: 70px;
    height: 35px;
    margin: 3px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
}

button:hover {
    background-image: linear-gradient(to right, rgb(128, 101, 163), plum);
    color: white;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.05); 
}


@media screen and (min-width: 450px) {
    body {
        padding: 20px 0;
    }
    .board {
        width: 90%;
    }
    input {
        width: 70%;
    }
    button {
        width: 100px;
        height: 50px;
        font-size: 18px;
    }
    #display {
        height: 50px;
        font-size: 20px;
    }
}



@media screen and (min-width: 768px) {
    body {
        padding: 30px 0;
    }
    .board {
        width: 70%;
    }
    input {
        width: 60%;
    }
    button {
        font-size: 16px;
        margin: 8px;
    }
    #display {
        font-size: 18px;
    }
}



@media screen and (min-width: 1024px) {
    body {
        justify-content: center;
        padding: 40px 0;
    }
    .board {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    input {
        width: 50%;
    }
}



@media screen and (min-width: 1440px) {
    .board {
        width: 30%;
    }
    input {
        width: 40%;
    }
}
