body{
    font-family: 'Pacifico', cursive;
    align-content: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: lightpink;
    padding: 100px 0;
}

.board{
    border: 2px solid black;
    border-radius: 10px;
    border: 2px solid wheat;
    width:500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: thistle;
    padding: 10px;
}

#display {
  width: 90%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid rgb(32, 7, 92);
  background-color: white;
  color: rgb(32, 7, 92);
  font-family: 'Pacifico', cursive;
}



.operation, .numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.operation {
    margin-bottom: 20px;
}
button {
    font-family: 'Pacifico', cursive;
    background-color: rosybrown;
    border: none;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    color:rgb(32, 7, 92);
    width: 150px;
    height: 75px;
    margin: 3px;
    gap: 10px;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: plum;
    color: white;
    border: 2px solid rgb(32, 7, 92);
    cursor: pointer;
    transform: scale(1.05); 
}



